$primary-color: #F3F7F9;
$secondary-color: #FFFFFF;
$tertiary-color: #D0E0FF;
$quaternary-color: #13213370;
$quinary-color: #0A1A2F;

$color-button: #155DFC;
$color-button-secondary: #9333EA;

$border-color: #3D3D3D;

$color-white: #FFFFFF;
$color-text: #0F172A;
$color-text-secondary: #959ba3;
$color-text-tertiary: #B45309;
$color-text-quaternary: #1D9E8B;

$color-hover-primary: #9ebdff;
$color-hover-secondary: #B45309;

$font-family: 'Inter', sans-serif;

$font-size-small: 12px;
$font-size-xsmall: 13px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-medium-large: 18px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 34px;
$font-size-xxxlarge: 77px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$color-error: #ff4d4f;
$color-success: #52c41a;
$color-muted: #9ca3af;

$mercado-libre-color: #b45309;
$market-place-color: #1e40af;
$amazon-color: #059669;
$instagram-color: #E1306C;
$ebay-color: #535353;

//Variables para landing Page
$landing-primary-color: #FCFCFC;
$landing-primary-text-color: #1D2226;
$landing-secondary-text-color: #0073D5;
