@use '../styles/variables' as *;
@use 'sass:color';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><rect width='40' height='40' fill='%23ffffff'/><path d='M0 0h40M0 10h40M0 20h40M0 30h40M0 40h40' stroke='%23e6e9ed' stroke-width='0.5'/><path d='M0 0v40M10 0v40M20 0v40M30 0v40M40 0v40' stroke='%23e6e9ed' stroke-width='0.5'/></svg>");
  background-repeat: repeat;
  background-size: 90px 90px;
  min-height: 100dvh;
}