@if (countData$ | async; as countData) {
<div class="stats-cards">
  <app-stats-card label="Total de Autos" [value]="countData.totalCars"></app-stats-card>
  <app-stats-card label="En Marketplace" [value]="countData.totalFb" color="blue"></app-stats-card>
  <app-stats-card label="En Mercado Libre" [value]="countData.totalMeli" color="orange"></app-stats-card>
  <app-stats-card label="En tu Instagram" [value]="countData.totalIg" color="black"></app-stats-card>
  <app-stats-card label="Valor Total" [value]="'$' + countData.totalPrice" color="green"></app-stats-card>
</div>
}
