@use '../../styles/variables' as *;

.stats-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  margin: 1rem;
  overflow-x: auto;
  white-space: nowrap;

  .stat-card {
    background: $secondary-color;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    width: 200px;
    box-shadow: 0 6px 12px rgba($quinary-color, 0.1);
/*     cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 10px 20px rgba($quinary-color, 0.342);
    } */

    .stat-label {
      font-size: $font-size-xsmall;
      color: $color-text-secondary;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-medium;
    }

    .stat-value {
      font-size: $font-size-xxlarge;
      font-weight: $font-weight-bold;
      color: $color-text;
      line-height: 1;
    }
  }

  /* colores por tipo */
  .stat-value.colored.blue {
    color: $market-place-color;
  }

  .stat-value.colored.orange {
    color: $mercado-libre-color;
  }

  .stat-value.colored.green {
    color: $amazon-color;
  }

  .stat-value.colored.black {
    color: $ebay-color;
  }
}
