@use '../../styles/variables' as *;

.callToActionSectionContainer {
  width: 100%;
  padding: 2rem;

  .callToActionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background-color: $landing-primary-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: 1px solid rgba($landing-secondary-text-color, 0.4);
    margin: 2rem auto;
    max-width: 800px;

    .callToActionHeading {
      color: $landing-primary-text-color;
      font-size: clamp($font-size-large, 4vw, $font-size-xxlarge);
      font-weight: $font-weight-bold;
      text-align: center;
    }

    .callToActionDescription {
      color: $landing-primary-text-color;
      font-size: clamp($font-size-medium, 2vw, $font-size-large);
      text-align: center;
      margin: 0;
      line-height: 1.5;
    }

    .callToActionButtons {
      display: flex;
      gap: 1.5rem;

      @media (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
      }

      .primaryButton {
        background-color: $landing-secondary-text-color;
        color: $color-white;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $color-button;
        }
      }

      .secondaryButton {
        background-color: transparent;
        color: $landing-secondary-text-color;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        padding: 0.75rem 1.5rem;
        border: 2px solid $landing-secondary-text-color;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          background-color: $landing-secondary-text-color;
          color: $color-white;
        }
      }
    }

    .callToActionDisclaimer {
      color: $color-text-secondary;
      font-size: $font-size-small;
      text-align: center;
      max-width: 600px;
    }
  }
}
