<div class="filters-bar">
  <div class="filters-grid">
    <input type="text" placeholder="Marca" />
    <input type="text" placeholder="Modelo" />
    <input type="number" placeholder="Año" />

    <select>
      <option class="inv_opt" value="" disabled selected hidden>Combustible</option>
      <option value="Gasolina">Gasolina</option>
      <option value="Gas">Gas</option>
      <option value="Diésel">Diésel</option>
      <option value="Híbrido">Híbrido</option>
      <option value="Eléctrico">Eléctrico</option>
    </select>

    <select>
      <option class="inv_opt" value="" disabled selected hidden>Transmisión</option>
      <option value="manual">Manual</option>
      <option value="automatica">Automática</option>
    </select>

    <input type="number" placeholder="Km mín" />
    <input type="number" placeholder="Km máx" />
  </div>

  <button class="btn-filter">Buscar</button>
</div>
