<app-header (addCar)="openAddCarModal()" [showAddCar]="true"></app-header>

<main class="app-main">
    <app-stats-cards></app-stats-cards>

    <app-filters-bar></app-filters-bar>

    <!-- Si no hay autos -->
    <!-- <app-empty-state></app-empty-state> -->

    <!-- Si hay autos -->
    <app-car-list (outputCarEdit)="openEditCarModal($event)"
        (outputCarStatusEdit)="openStatusCarModal($event)"></app-car-list>
</main>

@if (showAddCarModal) {
<app-add-car-modal (close)="closeAddCarModal()">
</app-add-car-modal>
}
@if (showEditCarModal) {
<app-edit-car-modal (close)="closeEditCarModal()" [car]="carToEdit">
</app-edit-car-modal>
}

@if (showStatusCarModal) {
<app-status-car-modal (close)="closeStatusCarModal()" [car]="carToEdit">
</app-status-car-modal>
}

<app-logout-button></app-logout-button>